---
import { verificarSesion } from "@utils/usuario";
import ListaProyectos from "./ListaProyectos.astro";

let usuario = await verificarSesion(Astro.request);
---
<div class="w-[98%] mx-auto h-20 border-magenta border-b-2  flex items-center flex-row gap-x-5">
    <div class="flex flex-row font-semibold items-center text-center text-blanco gap-x-2 text-2xl">
        <img src="/developer-logo.svg" class="w-10 h-10" alt="Logo"/>
        <h2 class="text-2xl">Panel de administración</h2>
    </div>
    <ListaProyectos />
</div>