---

import Proyectos from '@components/Proyectos.astro';
import Layout from '../layouts/Layout.astro';
import Lenguajes from '@components/Lenguajes.astro';
import SobreMi from '@components/SobreMi.astro';
import Contacto from '@components/Contacto.astro';


---

<Layout title='Pere Alemany | Full-Stack Developer'>
	<div class="text-blanco font-bold text-6xl mx-auto mt-10 max-w-2xl w-auto text-center relative">
		<h2>Pere Alemany</h2>
		<h1><span class="text-magenta">Full-Stack</span> DEVELOPER</h1>
		<!-- <p class="flex gap-x-2 px-3 py-2 rounded-full border-[1px] border-magenta w-max text-xl items-center place-content-center mt-5 mx-auto"><span class="w-4 h-4 bg-green-600 rounded-full"></span>Disponible</p> -->
		<p class="flex gap-x-2 px-3 py-2 rounded-full border-[1px] border-magenta w-max text-xl items-center place-content-center mt-5 mx-auto"><span class="w-4 h-4 bg-red-600 rounded-full"></span>No Disponible</p>
	</div>

	<SobreMi />
	
	<Proyectos />
	<Contacto />
	<Lenguajes />
	
	<!-- <iframe src="https://iescalvia-voley.com" width="100%" height="500" frameborder="0" allowfullscreen></iframe> -->

</Layout>
