---
import TecnologiasMap from "@components/TecnologiasMap.astro";
import LayoutMenu from "@layouts/LayoutMenu.astro";
---

<LayoutMenu title="Tecnologías - Pere Alemany | Full-Stack Developer">
    <article class="max-w-7xl mx-auto px-4 py-12 text-white space-y-6">
        <h1 class="text-6xl font-bold text-magenta">Tecnologías</h1>
        <div class="w-full max-w-6xl mx-auto grid grid-cols-1">
             <p class="text-lg text-blanco">
                Como desarrollador full stack, me gusta trabajar con tecnologías de distintas categorías que abarcan tanto el desarrollo del lado del cliente como del servidor. Esto me permite construir aplicaciones completas, modernas y escalables, cuidando cada detalle desde la experiencia del usuario hasta la lógica interna y el despliegue en producción. En este apartado encontrarás las principales tecnologías que utilizo en mi día a día para dar vida a mis proyectos.
            </p>
            <!-- <div>
                <img src="/tecnologias.png" alt="Tecnologías categorias" class="w-full h-auto rounded-lg mt-5"/>
            </div> -->
        </div>

        <TecnologiasMap />

       

</LayoutMenu>