---
const añoActual = new Date().getFullYear();
---
<footer class="mt-12 pb-2 pt-6 text-center text-sm text-blanco mb-2">
  <p>© {añoActual} Pere Alemany · Full-Stack Developer</p>
  
  <p class="mt-2 italic text-xs">Hecho con Astro y Typscript</p>
</footer>
