<header class="w-[98%] border-b border-magenta grid grid-cols-[auto_1fr_auto] mx-auto place-items-center gap-4 p-2">
    <a href="/" class="w-12 h-12">
        <img src="developer-logo.svg" class="w-12 h-12" alt="Logo"/>
    </a>
    <div class="flex flex-row font-semibold text-center text-blanco gap-x-2 text-2xl">
        <h3>Pere Alemany</h3>
        <span>|</span>
		<h2><span class="text-magenta">Full-Stack</span> DEVELOPER</h2>
    </div>
    <!-- <p class="flex gap-x-2 px-3 py-2 rounded-full border-[1px] text-blanco border-magenta w-max text-lg items-center place-content-center"><span class="w-4 h-4 bg-green-600 rounded-full"></span>Disponible</p> -->
    <p class="flex gap-x-2 px-3 py-2 rounded-full border-[1px] border-magenta w-max text-xl items-center place-content-center mt-5 mx-auto"><span class="w-4 h-4 bg-red-600 rounded-full"></span>No Disponible</p>
    
</header>